<div class="row text-center">
  <div class="col-12">
    <div class="alert alert-info" *ngIf="xForm.dirty">
      <strong>Information: </strong>You have made changes. Any Unsaved changes will be lost
    </div>
  </div>
</div>

<div class="container col-11 col-lg-3 col-md-6 text-center">

<form
[formGroup]='xForm'
(ngSubmit)="xForm.valid && register()"
autocomplete="off">

  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label  class="control-label" style="margin-right: 10px;">I am a:</label>
    <label class="radio-inline">
      <input type="radio" value='male' formControlName='gender'> Male
    </label>
    <label class="radio-inline">
      <input type="radio" value='female' formControlName='gender' class="ml-3"> Female
    </label>
  </div>

  <app-text-input [formControl]='xForm.controls["name"]'
    [label]='"First Name"'></app-text-input>

  <app-text-input [formControl]='xForm.controls["lastname"]'
    [label]='"Last Name"'></app-text-input>


  <app-text-input [formControl]='xForm.controls["username"]'
    [label]='"Username"'></app-text-input>

  <app-text-input [formControl]='xForm.controls["email"]'
    [label]='"Email"'></app-text-input>

  <app-date-input [formControl]='xForm.controls["dateOfBirth"]'
    [label]='"Date Of Birth"' [maxDate]="maxDate"></app-date-input>

  <app-text-input [formControl]='xForm.controls["city"]'
    [label]='"City"'></app-text-input>

  <app-text-input [formControl]='xForm.controls["country"]'
    [label]='"Country"'></app-text-input>

  <app-text-input [formControl]='xForm.controls["personalID"]'
    [label]='"PersonalId"'></app-text-input>

  <app-text-input [formControl]='xForm.controls["password"]'
    [label]='"Password"' [type]='"password"'></app-text-input>

  <app-text-input [formControl]='xForm.controls["confirmPassword"]'
    [label]='"Confirm Password"' [type]='"password"'></app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
  </div>

  <div class="form-group text-center">
    <button [disabled]='!xForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
  </div>

</form>

</div>

