<nav
  *ngIf="vs.visible"
  class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow"
>
  <!--<div class="container-fluid"> -->
    <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">BetApp</a>

   <!--<ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
 -->

      <!-- <ul class="nav navbar-nav mr-auto ">
        <li class="nav-item  active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul> -->

      <!-- <ul class="nav list-inline mr-auto" style="color:white;">
        <li class="list-inline-item"><a class="nav-link " href="live">Live</a></li>
        <li class="list-inline-item"><a class="nav-link" href="#">Link</a></li>
        <li class="list-inline-item"><a class="nav-link disabled" href="#">Disabled</a></li>
      </ul> -->
      <ul *ngIf="this.authService.getCurrentUser()" class="navbar-nav d-flex flex-row mr-auto">

          <li *ngIf="rolecheck()" class="nav-item mr-3">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li *ngIf="rolecheck()" class="nav-item mr-3">
            <a class="nav-link" href="live">Live</a>
          </li>

          <!-- <li *ngIf="!rolecheck()" class="nav-item mr-3">
            <a class="nav-link" routerLink="admin">Panel</a>
          </li> -->
         <!--  <li class="nav-item mr-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
      </ul>

      <!-- <input class="col form-control form-control-dark w-100"
      type="text"
      placeholder="Search"
      aria-label="Search"> -->
      <!-- <app-widget-search-bar class="col w-100"></app-widget-search-bar> -->
   <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mr-auto">
      <li class=""><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
      <li class=""><a href="live" class="nav-link px-2 text-white">Live</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul> -->

    <div class="dropdown mr-5"
      *ngIf="authService.currentUser$ | async as usr"
      dropdown
    >
      <!--<img src="{{'./assets/user.png'}}" alt="{{usr.username}}">-->
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>{{
        usr.username | titlecase
      }}</a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="members/profiles/{{usr.username}}">Profile</a>
        <!-- <a class="dropdown-item" routerLink="members/profile/edit">Edite profile</a>
        <a class="dropdown-item" routerLink="/">Settings</a>
        <a class="dropdown-item" routerLink="/">...</a>-->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">LogOut</a>
      </div>
    </div>

    <form *ngIf="(authService.currentUser$ | async) === null" #loginForm="ngForm"
    class="form-inline mt-2 mt-md-0"
      autocomplete="off"
    >
      <!-- <app-pop-login></app-pop-login> -->
      <button type="button" class="btn btn-primary" (click)="openModal()">LogIn</button>
      <!--<button class="btn btn-success my-2 my-sm-0" type="submit">LogIn</button>-->
      <button
        class="btn btn-info my-2 my-sm-0 ml-1"
        (click)="btnRegister()"
        type="button"
      >
        Register
      </button>
    </form>

  </div>

</nav>

<!-- navbar navbar-expand-md navbar-dark fixed-top bg-dark
 -->
    <!--
          <form *ngIf="(accountService.currentUser$ | async) === null"
            #loginForm="ngForm"
            class="form-inline mt-2 mt-md-0"
            (ngSubmit)="login()"
            autocomplete="off">
            <input
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2"
                type="Text"
                placeholder="Username">

            <input
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2"
                type="password"
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">LogIn</button>

          </form>
          -->
