<div class="container-fluid">

  <div class="row" style="height: 848px;">

    <nav id="sidebarMenu" class="col-md-4 d-md-block sidebar "
       style="height: 100%; overflow: hiiden; padding-left: 0px; padding-right: 0px;">

      <ng-scrollbar class="my-scrollbar"
       appearance="standard"
       visibility="hover"
       autoHeightDisabled="true"
      >
       <div class="card-header bg-primary text-center" style="color:white;">
        <span>Live Matches</span>
       </div>

        <div class="position-sticky card-body py-2" style="cursor: pointer; height:100%;">

          <div *ngFor="let livegame of this.getliveMatches() | keyvalue; let i = index">

            <h6
            class="sidebar-heading d-flex justify-content-left align-items-center px-2 py-2 "
            [attr.aria-expanded]="this.collapse.liveCollapseArr[i]"
            aria-controls="collapseBasic"
            (click)="this.collapse.reverseLiveArr(i);
                     this.selected.initSelectedMatches(livegame.value.homeTeam,livegame.value.awayTeam);
                     this.collapse.collapseCloseOthers(this.collapse.liveCollapseArr,i);
                     getMarket(livegame.value.eventId);
                     this.selected.selectedEventId = livegame.value.eventId;
                     this.getScoreBorad(livegame.value.eventId);
                     this.sboardHub.updateSc(livegame.value.eventId);
                     closeScoreBoard();
                     ">
              <span>{{livegame.value.homeTeam}}  <strong style="color: darkred;">VS</strong>  {{livegame.value.awayTeam}}</span>
            </h6>
            <ul
            class="nav flex-column ml-2"
            id="collapseBasic"
            [collapse]="!this.collapse.getLiveArr(i)"
            [isAnimated]="true"
            >
              <li class="nav-item" *ngFor="let market of liveMarkets">
                <a class="nav-link active text-secondary"
                aria-current="page"
                (click)='
                this.selected.selectedMarket = market;
                this.selected.visibleCloseOthers(market);
                getOdds(livegame.value.eventId,market);'>
                  {{market}}
                </a>
              </li>
            </ul>

          </div>

        </div>

      </ng-scrollbar>

    </nav>

    <div class="col-md-3 ms-sm-auto col-lg-4 "
      style="height: 100%;
          overflow: hidden;
          padding-left: 5px;
          padding-right: 5px;"
      >
      <div class="card-header bg-primary text-center" style=" color:white;">
        <span>{{this.selected.homeTeam}}
        <strong style="color: darkred;">VS</strong>
        {{this.selected.awayTeam}}
        </span>
      </div>



      <ng-scrollbar class="my-scrollbar"
        appearance="standard"
        visibility="hover"
        position="native"
      >
        <div class="Rcontent w-100 mt-1" style="cursor: pointer; ">

          <div class="matchResult mb-1 text-white" *ngIf="getMarketStatus('Match Result') && !getSuspendStatus()">
              <div
              class="card-header bg-primary d-flex justify-content-center"
              style=" color: white;"
              role="button">
              <h6>Match Result</h6>
              </div>

              <div class="table-responsive bg-secondary  d-flex" style=" color: white;">
                <table class="table table-bordered table-hover table-sm mb-0" style="text-align:center;">
                <thead>
                  <tr class="d-flex">
                    <th class="col-4 d-flex justify-content-center align-items-center"><span>Runner</span></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th
                    class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(74, 119, 202);"
                    (click)="backAll(this.selected.selectedMarket);activePlaceBets();"
                    ><span>Back all</span></th>
                    <th
                    class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(212, 90, 90);"
                    (click)="layAll(this.selected.selectedMarket);activePlaceBets();"
                    ><span>Lay all</span></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="d-flex" *ngFor="let lay of getEditedLayOdd() ; let idx = index">
                    <td class="col-4 d-flex  justify-content-center align-items-center"><span>{{lay.runnerName}}</span></td>
                    <td *ngFor="let backcol of this.getEditedBackOdd()[idx].odds; let i =index"
                        class="col d-flex flex-column justify-content-center align-items-center"
                        (click)="this.addToBackBetSlip(backcol,this.selected.selectedMarket
                                  ,0,this.getEditedBackOdd()[idx],this.selected.selectedEventId);
                                  activePlaceBets();
                                  ">
                      <span>{{backcol}}</span>
                      <span *ngIf="backcol">&#8378;{{this.getEditedBackOdd()[idx].liquidity}}</span>
                    </td>
                    <td *ngFor="let laycol of this.getEditedLayOdd()[idx].odds; let i =index"
                        class="col d-flex flex-column justify-content-center align-items-center"
                        (click)="this.addToLayBetSlip(laycol,this.selected.selectedMarket
                                  ,0,this.getEditedLayOdd()[idx],this.selected.selectedEventId);
                                  activePlaceBets();">
                      <span>{{laycol}}</span>
                      <span *ngIf="laycol">&#8378;{{this.getEditedLayOdd()[idx].liquidity}}</span>
                    </td>
                  </tr>

                </tbody>
                </table>
              </div>

          </div>

          <div class="doubleChance mb-1 text-white" *ngIf="getMarketStatus('Double Chance') && !getSuspendStatus()">
            <div
              class="card-header bg-primary d-flex justify-content-center"
              style=" color: white;"
              role="button"
              >
              <h6 class="">Double Chance</h6>
            </div>
            <div class="table-responsive bg-secondary d-flex"
            style=" color: white;"
            >
            <table class="table table-bordered table-hover table-sm mb-0" style="text-align:center;">
                <thead>
                  <tr class="d-flex">
                    <th class="col-4 d-flex justify-content-center align-items-center"><sapn>Runner</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(74, 119, 202);"
                    (click)="backAll(this.selected.selectedMarket);activePlaceBets();"
                    ><sapn>Back all</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(212, 90, 90);"
                    (click)="layAll(this.selected.selectedMarket);activePlaceBets();"
                    ><sapn>Lay all</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="d-flex" *ngFor="let lay of getEditedLayOdd() ; let idx = index">
                    <td class="col-4 d-flex justify-content-center align-items-center"><sapn>{{lay.runnerName}}</sapn></td>
                    <td *ngFor="let backcol of this.getEditedBackOdd()[idx].odds"
                    class="col d-flex flex-column justify-content-center align-items-center"
                    (click)="this.addToBackBetSlip(backcol,this.selected.selectedMarket,
                              0,this.getEditedBackOdd()[idx],this.selected.selectedEventId);
                              activePlaceBets();">
                      <span>{{backcol}}</span>
                      <span *ngIf="backcol">&#8378;{{this.getEditedBackOdd()[idx].liquidity}}</span>
                    </td>
                    <td *ngFor="let laycol of this.getEditedLayOdd()[idx].odds"
                    class="col d-flex flex-column justify-content-center align-items-center"
                    (click)="this.addToLayBetSlip(laycol,this.selected.selectedMarket,
                            0,this.getEditedLayOdd()[idx],this.selected.selectedEventId);
                            activePlaceBets();">
                      <span>{{laycol}}</span>
                      <span *ngIf="laycol">&#8378;{{this.getEditedLayOdd()[idx].liquidity}}</span>
                    </td>
                  </tr>
                </tbody>
            </table>
            </div>
          </div>

          <div class="totalGoals bg-primary mb-1 text-white" *ngIf="getMarketStatus('Total Goals') && !getSuspendStatus()">
            <div
              class="card-header d-flex justify-content-center"
              style=" color: white;"
              role="button"
              >
              <h6 class="">Total Goals</h6>
            </div>
            <div class="table-responsive  bg-secondary d-flex"
            style=" color: white;"
            >
            <table class="table table-bordered table-hover table-sm mb-0" style="text-align:center;">
                <thead>
                  <tr class="d-flex">
                    <th class="col-4 d-flex justify-content-center align-items-center"><span>Runner</span></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(74, 119, 202);"
                    (click)="backAll(this.selected.selectedMarket);activePlaceBets();"><sapn>Back all</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(212, 90, 90);"
                    (click)="layAll(this.selected.selectedMarket);activePlaceBets();"><sapn>Lay all</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="d-flex" *ngFor="let lay of getEditedLayOdd() ; let idx = index">
                    <td class="col-4 d-flex justify-content-center align-items-center"><sapn>{{lay.runnerName}}</sapn></td>
                    <td *ngFor="let backcol of this.getEditedBackOdd()[idx].odds"
                    class="col d-flex flex-column justify-content-center align-items-center"
                    (click)="this.addToBackBetSlip(backcol,this.selected.selectedMarket,
                              0,this.getEditedBackOdd()[idx],this.selected.selectedEventId);
                              activePlaceBets();">
                      <span>{{backcol}}</span>
                      <span *ngIf="backcol">&#8378;{{this.getEditedBackOdd()[idx].liquidity}}</span>
                    </td>
                    <td *ngFor="let laycol of this.getEditedLayOdd()[idx].odds"
                    class="col d-flex flex-column justify-content-center align-items-center"
                    (click)="this.addToLayBetSlip(laycol,this.selected.selectedMarket,
                              0,this.getEditedLayOdd()[idx],this.selected.selectedEventId);
                              activePlaceBets();">
                      <span>{{laycol}}</span>
                      <span *ngIf="laycol">&#8378;{{this.getEditedLayOdd()[idx].liquidity}}</span>
                    </td>
                  </tr>
                </tbody>
            </table>
            </div>
          </div>

          <div class="bothTeamToScore mb-1 text-white" *ngIf="getMarketStatus('Both Teams to Score') && !getSuspendStatus()">
            <div
              class="card-header bg-primary d-flex justify-content-center"
              style=" color: white;"
              role="button"
              >
              <h6 class="">Both Team To Score</h6>
            </div>
            <div class="table-responsive bg-secondary d-flex"
            style=" color: white;"
            >
            <table class="table table-bordered table-hover table-sm mb-0" style="text-align:center;">
                <thead>
                  <tr class="d-flex">
                    <th class="col-4 d-flex justify-content-center align-items-center"><sapn>Runner</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(74, 119, 202);"
                    (click)="backAll(this.selected.selectedMarket);activePlaceBets();"
                    ><sapn>Back all</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"
                    style="background-color: rgb(212, 90, 90);"
                    (click)="layAll(this.selected.selectedMarket);activePlaceBets();"><sapn>Lay all</sapn></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                    <th class="col d-flex justify-content-center align-items-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="d-flex" *ngFor="let lay of getEditedLayOdd() ; let idx = index">
                    <td class="col-4 d-flex justify-content-center align-items-center"><sapn>{{lay.runnerName}}</sapn></td>
                    <td *ngFor="let backcol of this.getEditedBackOdd()[idx].odds"
                    class="col d-flex flex-column justify-content-center align-items-center"
                    (click)="this.addToBackBetSlip(backcol,this.selected.selectedMarket,
                              0,this.getEditedBackOdd()[idx],this.selected.selectedEventId);
                              activePlaceBets();">
                      <span>{{backcol}}</span>
                      <span *ngIf="backcol">&#8378;{{this.getEditedBackOdd()[idx].liquidity}}</span>
                    </td>
                    <td *ngFor="let laycol of this.getEditedLayOdd()[idx].odds"
                    class="col d-flex flex-column justify-content-center align-items-center"
                    (click)="this.addToLayBetSlip(laycol,this.selected.selectedMarket,
                              0,this.getEditedLayOdd()[idx],this.selected.selectedEventId);
                              activePlaceBets();">
                      <span>{{laycol}}</span>
                      <span *ngIf="laycol">&#8378;{{this.getEditedLayOdd()[idx].liquidity}}</span>
                    </td>
                  </tr>
                </tbody>
            </table>

            </div>
          </div>

          <div *ngIf="getSuspendStatus()" class="bg-secondary" style="
                  opacity: .8;

                  height: 250px;
                  ">
                  <h3 class="d-flex justify-content-center align-items-center " style="color:red; padding: 100px;">Suspended</h3>
          </div>

        </div>

        <div *ngIf="getBoard()" class="scorboardcontainer score">
          <div class="title-box">
              <p>Home</p>
              <p id="elapsed">45'</p>
              <p>Away</p>
          </div>
          <div class="title-box">
              <div class="team">
                  <p id="homeName">{{this.getBoard().teamName1}}</p>
              </div>
              <p id="goals">{{this.getBoard().score}}</p>
              <div class="team">
                  <p id="awayName">{{this.getBoard().teamName2}}</p>
              </div>

          </div>
          <hr>
          <div id="matchTable" class="matches-table">

            <h6
            class="sidebar-heading d-flex justify-content-center align-items-center px-2 py-2 "
            [attr.aria-expanded]="this.collapse.scoreboardCollapse"
            aria-controls="collapseScoreBoard"
            (click)="this.collapse.scoreboardCollapse = !this.collapse.scoreboardCollapse;">
              <div class="row d-flex justify-content-center align-items-center" style="font-size: 0.8em;">
                <div class="col-2">{{this.getBoard().messages[0].timer}}</div>
                <div class="col-7">{{this.getBoard().messages[0].content}}</div>
                <!-- <div class="col-2">{{message.messageType}}</div> -->
                <!-- <div class="col-1">{{message.order}}</div> -->
                <div class="col-3" [ngSwitch]="this.getBoard().messages[0].teamType">
                    <div class="col-2" *ngSwitchCase="TEAM01">{{getBoard().teamName1}}</div>
                    <div class="col-2" *ngSwitchDefault>{{getBoard().teamName2}}</div>
                </div>
              </div>
            </h6>
            <ul
            class="nav flex-column ml-2"
            id="collapseScoreBoard"
            [collapse]="!this.collapse.scoreboardCollapse"
            [isAnimated]="true"
            >
              <li class="nav-item" *ngFor="let message of this.getBoard().messages">
                <a class="nav-link active"
                aria-current="page"
                style="color:white;"
                >
                  <div class="row" style="padding: 10px;">
                    <div class="col-2">{{message.timer}}</div>
                    <div class="col-6">{{message.content}}</div>
                    <!-- <div class="col-2">{{message.messageType}}</div> -->
                    <!-- <div class="col-1">{{message.order}}</div> -->
                    <div class="col-4" [ngSwitch]="message.teamType">
                        <div class="col-2" *ngSwitchCase="Team01">{{getBoard().teamName1}}</div>
                        <div class="col-2" *ngSwitchCase="Team02">{{getBoard().teamName2}}</div>
                        <div class="col-2" *ngSwitchDefault></div>
                    </div>
                  </div>
                  <hr>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </ng-scrollbar>

    </div>

    <nav id="sidebarMenu" class="col-md-4 d-md-block  sidebar "
    style="height: 100%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;">

      <ng-scrollbar class="my-scrollbar"
      appearance="standard"
      visibility="hover"
      autoHeightDisabled="true"
     >
      <div class="position-sticky">
        <div class="card-header d-flex align-items-center bg-primary justify-content-center" style=" color:white; border-radius: 0%;">
          <h6>BET SLIP</h6>
        </div>

        <tabset class="member-tabset" #betSlipTabs>

          <tab heading='Place Bets' class="p-1">

            <div class="card">

                <div class="card-header bg-secondary text-white text-center">
                  <span>Current odds bets</span>
                </div>

                <div class="card-body p-0">

                    <table *ngIf="betSlipBack.length > 0" class="table table-bordered table-hover table-sm mb-1" style="text-align:center;" >
                      <thead>
                        <tr class="d-flex">
                          <th class="col-4 d-flex justify-content-center align-items-center">Back (Bet For)</th>
                          <th class="col d-flex justify-content-center align-items-center">Odds</th>
                          <th class="col d-flex justify-content-center align-items-center">Stake</th>
                          <th class="col d-flex justify-content-center align-items-center">Profit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <div *ngFor="let backOdds of betSlipBack | keyvalue; let i = index;" >
                          <tr class="col d-flex justify-content-center align-items-center">{{backOdds.value.teams}}</tr>
                          <tr class="d-flex">
                            <td class="col-4 d-flex justify-content-center align-items-center" style="border-top: none;">
                              <div class="close" (click)="onCloseClick(i,betSlipBack)">&times;</div>
                              <div class="">{{backOdds.value.runnerName}}</div>
                            </td>
                            <td class="col d-flex justify-content-center align-items-center" style="border-top: none;"><input type="number" [(ngModel)]="backOdds.value.odds" value='{{backOdds.value.odds}}'></td>
                            <td class="col d-flex justify-content-center align-items-center" style="border-top: none;"><input type="number" [(ngModel)]="backOdds.value.stake" value='{{backOdds.value.stake}}'></td>
                            <td class="col d-flex justify-content-center align-items-center" style="border-top: none;">{{RoundValue((backOdds.value.odds * backOdds.value.stake) - backOdds.value.stake)}}&#8378;</td>
                          </tr>
                        </div>

                      </tbody>
                    </table>

                    <table *ngIf="betSlipLay.length > 0" class="table table-bordered table-hover table-sm mb-1" style="text-align:center;">
                      <thead>
                        <tr class="d-flex">
                          <th class="col-4 d-flex justify-content-center align-items-center">Lay (Bet Against)</th>
                          <th class="col d-flex justify-content-center align-items-center">Odds</th>
                          <th class="col d-flex justify-content-center align-items-center">Stake</th>
                          <th class="col d-flex justify-content-center align-items-center">Liability</th>
                        </tr>
                      </thead>
                      <tbody>
                        <div *ngFor="let layOdds of betSlipLay | keyvalue; let i = index;" >
                          <tr class="col d-flex justify-content-center align-items-center">{{layOdds.value.teams}}</tr>
                          <tr class="d-flex">
                            <div>{{layOdds.teams}}</div>
                            <td class="col-4 d-flex justify-content-center align-items-center">
                              <div class="close" (click)="onCloseClick(i,betSlipLay)">&times;</div>
                              <div>{{layOdds.value.runnerName}}</div>
                            </td>
                            <td class="col d-flex justify-content-center align-items-center"><input type="number" [(ngModel)]="layOdds.value.odds" value='{{layOdds.value.odds}}'></td>
                            <td class="col d-flex justify-content-center align-items-center"><input type="number" [(ngModel)]="layOdds.value.stake" value='{{layOdds.value.stake}}'></td>
                            <td class="col d-flex justify-content-center align-items-center">{{RoundValue(((layOdds.value.odds * layOdds.value.stake) - layOdds.value.stake))}}&#8378;</td>
                          </tr>
                        </div>
                      </tbody>
                    </table>
                </div>

                <div class="card-footer p-1">
                    <!-- <div class="text-right"><p>Liability: <strong>£0.00</strong></p></div> -->
                    <div class="d-flex justify-content-between">
                      <button
                      type="button"
                      class="btn btn-secondary"
                      (click)='clearBetSlip()'
                      >Cancell All Selections</button>
                      <button
                      type="button"
                      class="btn btn-warning"
                      [disabled]="(this.betSlipLay.length + this.betSlipBack.length) == 0"
                      (click)=' placeBetCheck();
                                PlaceClick();'
                      >Place Bets</button>

                    </div>
                    <!-- <div class="invalid-feedback"></div> -->
                    <div *ngIf="getWarning()"
                    style="width: 100%;
                    margin-top: .25rem;
                    font-size: 80%;
                    color: #dc3545;">
                      Please check if a stake is zero or a lay odd is bigger than back odd for the same team.
                    </div>
                </div>

            </div>

          </tab>

          <tab heading='Open Bets' class="p-1">

            <div *ngIf="(getMatchedLay().length + getMatchedLBack().length) > 0" class="card">

              <div class="card-header bg-secondary text-white text-center">
                <span>Matched</span>
              </div>

              <div class="card-body p-0">

                  <table *ngIf="getMatchedLBack().length > 0" class="table table-bordered table-hover table-sm mb-1" style="text-align:center;" >
                    <thead>
                      <tr class="d-flex">
                        <th class="col-4 d-flex justify-content-center align-items-center">Back (Bet For)</th>
                        <th class="col d-flex justify-content-center align-items-center">Odds</th>
                        <th class="col d-flex justify-content-center align-items-center">Stake</th>
                        <th class="col d-flex justify-content-center align-items-center">Profit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngFor="let offer of getMatchedLBack() | keyvalue; let i = index;">
                        <tr class="col d-flex justify-content-center align-items-center">{{offer.value.teams}}</tr>
                        <tr class="d-flex" >
                          <td class="col-4 d-flex justify-content-center align-items-center">
                            <div class="">{{offer.value.runnerName}}</div>
                          </td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.odds}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.inStake}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.profit}}&#8378;</td>
                        </tr>
                      </div>
                    </tbody>
                  </table>

                  <table *ngIf="getMatchedLay().length > 0" class="table table-bordered table-hover table-sm mb-1" style="text-align:center;">
                    <thead>
                      <tr class="d-flex">
                        <th class="col-4 d-flex justify-content-center align-items-center">Lay (Bet Against)</th>
                        <th class="col d-flex justify-content-center align-items-center">Odds</th>
                        <th class="col d-flex justify-content-center align-items-center">Stake</th>
                        <th class="col d-flex justify-content-center align-items-center">Liability</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngFor="let offer of getMatchedLay() | keyvalue; let i = index;">
                        <tr class="col d-flex justify-content-center align-items-center">{{offer.value.teams}}</tr>
                        <tr class="d-flex" >
                          <td class="col-4 d-flex justify-content-center align-items-center">
                            <div>{{offer.value.runnerName}}</div>
                          </td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.odds}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.inStake}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.lalaibelty}}&#8378;</td>
                        </tr>
                      </div>
                    </tbody>
                  </table>
              </div>


            </div>

            <div *ngIf="(getUnMatchedLay().length + getUnMatchedBack().length) > 0" class="card">

              <div class="card-header bg-secondary text-white text-center">
                <span>UnMatched</span>
              </div>

              <div class="card-body p-0">

                  <table *ngIf="getUnMatchedBack().length > 0" class="table table-bordered table-hover table-sm mb-1" style="text-align:center;" >
                    <thead>
                      <tr class="d-flex">
                        <th class="col-4 d-flex justify-content-center align-items-center">Back (Bet For)</th>
                        <th class="col d-flex justify-content-center align-items-center">Odds</th>
                        <th class="col d-flex justify-content-center align-items-center">Stake</th>
                        <th class="col d-flex justify-content-center align-items-center">Profit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngFor="let offer of getUnMatchedBack() | keyvalue; let i = index;">
                        <tr class="col d-flex justify-content-center align-items-center">{{offer.value.teams}}</tr>
                        <tr class="d-flex">
                          <td class="col-4 d-flex justify-content-center align-items-center">
                            <div class="">{{offer.value.runnerName}}</div>
                          </td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.odds}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.stake}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.profit}}&#8378;</td>
                        </tr>
                        </div>
                    </tbody>
                  </table>

                  <table *ngIf="getUnMatchedLay().length > 0" class="table table-bordered table-hover table-sm mb-1" style="text-align:center;">
                    <thead>
                      <tr class="d-flex">
                        <th class="col-4 d-flex justify-content-center align-items-center">Lay (Bet Against)</th>
                        <th class="col d-flex justify-content-center align-items-center">Odds</th>
                        <th class="col d-flex justify-content-center align-items-center">Stake</th>
                        <th class="col d-flex justify-content-center align-items-center">Liability</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngFor="let offer of getUnMatchedLay() | keyvalue; let i = index;">
                        <tr class="col d-flex justify-content-center align-items-center">{{offer.value.teams}}</tr>
                        <tr class="d-flex">
                          <td class="col-4 d-flex justify-content-center align-items-center">
                            <div>{{offer.value.runnerName}}</div>
                          </td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.odds}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.stake}}</td>
                          <td class="col d-flex justify-content-center align-items-center">{{offer.value.lalaibelty}}&#8378;</td>
                        </tr>
                      </div>
                    </tbody>
                  </table>
              </div>


            </div>
            <button
                      type="button"
                      class="btn btn-secondary"
                      (click)='clearPlacedUnMatched()'
                      >Cancell All UnMatched</button>
          </tab>

        </tabset>

      </div>

    </ng-scrollbar>
    </nav>

  </div>

</div>
