.my-scrollbar {

  --scrollbar-border-radius: 4px;
   --scrollbar-hieght: 10px;
  --scrollbar-padding: 0px;
  --scrollbar-viewport-margin: 0;
  --scrollbar-size: 4px;
  --scrollbar-hover-size: var(--scrollbar-size);

  --scrollbar-track-color: #7d7d7d;
  --scrollbar-wrapper-color: transparent;

  --scrollbar-thumb-height: 10px;
  --scrollbar-thumb-color: #292929;
  --scrollbar-thumb-hover-color:#393939;

  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;

}
a ,table{
  cursor: pointer;
}
table td {
  position: relative;
}
table span {
  color : white;
}
table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
}

/**/
.scorboardcontainer{
  color: white;
  cursor: pointer;
  background-color:#FAFAFA;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  }
  .score{
    background-image:url("/assets/scoreBoard.jpg");
    /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .title-box{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.1em;
}
.title-box #goals{

    font-size: 1.8em;
}
.team{
    width: 100px;
    font-size: 1.1em;
}
.team img{
    height: 54px;
    width: 54px;
}
.matches-table{
  font-size: 0.7em;
}
